@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body{
	overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
footer{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
  color: white;
}
.content-footer{
  margin-top: 2%;
  position: relative;
}

.navbar{
  background-color: #007fe9;
  font-weight: 400;
}
.navbar-brand{
  font-weight: 600;
}
.global-div{
  text-align: center;
  height: 100vh;
  background-color: #34354a;
}

.left-vertical-div{
	text-align: center;
  margin-top: 2%;

}

.title{
  padding-top: 2%;
	color: #ffffff;
	font-size: 75px;
	font-weight: 600;
}
.text{
	color: #ffffff;
	font-size: 21px;
  padding: 25px;
}
.title-div-login{
	font-size: 35px;
	font-weight: 600;
}

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 350px;
  padding: 50px;
  background-color: white;

}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.2em;
  width: 100%;
  padding: 0 15px 0 50px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  margin-top: 2%;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}

.loginBtn--facebook {
  background-color: #4C69BA;
  
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #fafafa 1px solid;
  background: url('../../core/img/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,.loginBtn--facebook:focus {
  background-color: #375bbf;
}

.loginBtn--google {
  
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #fafafa 1px solid;
  background: url('../../core/img/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,.loginBtn--google:focus {
  background: #ff7261;
}

.loginBtn--github {
  
  background: #2f2f2f;
}
.loginBtn--github:before {
  border-right: #fafafa 1px solid;
  background: url('../../core/img/icon_github.png') 6px 6px no-repeat;
}
.loginBtn--github:hover,.loginBtn--github:focus {
  background: #252525;
}
.loginBtn--twitter {
  
  background: #53a7e7;
}
.loginBtn--twitter:before {
  border-right: #fafafa 1px solid;
  background: url('../../core/img/icon_twitter.png') 6px 6px no-repeat;
}
.loginBtn--twitter:hover,.loginBtn--twitter:focus {
  background: #409de2;
}
.loginBtn--yahoo {
  
  background: #5f00d1;
}
.loginBtn--yahoo:before {
  border-right: #fafafa 1px solid;
  background: url('../../core/img/icon_yahoo.png') 6px 6px no-repeat;
}
.loginBtn--yahoo:hover,.loginBtn--yahoo:focus {
  background: #4e01aa;
} 

}