@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body{
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  overflow-y: hidden;
}
.menu-content{
	color: white;
}
.content{
	color: black;
  background-color: white;
  display: block;
  width: 350px;
  overflow-y: scroll;
  height: 94.5vh;

}
.line-content{
	height: 5.5vh;
	background-color: #494c79;
	color: white;
}
.uploadbox-name{
	text-align: center;
	color: black;
	font-size: 30px;
	font-weight: 600;
	padding: 40px
}
.vertical-menu {
  width: 104%;
  background-color: #34354a;
  height: 94.5vh;
}

.vertical-menu a {
  background-color: transparent;
  color: white;
  display: block;
  padding : 35px;
  text-align: left;
  text-decoration: none;
}

.vertical-menu a:hover {
  border-left-style: solid;
  border-color: white;
  color: white;
}

.vertical-menu a.active {
  color: white;
  border-left-style: solid;
  border-color: white;
  font-weight: bold;
  background-color: #494c79;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  width: 125px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.collection{
  text-align: center;
}
.img-content{
  margin-top: 2%;
  margin-bottom: 2%;
}
.img-ico-menu{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.img-ico-user{
  width: 24px;
  height: 24px;
  margin-right: 15px;
}
.img-ico-arrow{
  width: 12px;
  height: 12px;
  margin-left: 5px;
} 
.img-ico-user-profile{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}


.upload-btn-wrapper {
  margin-right: 2%;
  overflow: hidden;
  font-size: 100px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.btn {

  border: 2px solid #494c79;
  color: white;
  background-color: #494c79;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.title_page{
  font-size: 47px;
  margin-left: 4%;
  margin-top: 3%;
  text-transform: uppercase;
}
.title_download_object{
  margin-top: 5%;
}
.video{
  width: 100%;
  height: 100%;
}
.square-control{
  text-align: center;
  margin: 2%;
  width: 100%;
  height: 100%;
  background-color: #494c79;
}
.number-control{
  color: white;
  font-size: 150px;
}
.text-control{
  color: white;
  font-size: 21px;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
body{
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
.vertical-menu {
  width: 100%;
  background-color: #34354a;
  height: 100%;
}
.vertical-menu a {
  background-color: transparent;
  color: white;
  text-align: left;
  text-decoration: none;
}
.content{
  text-align: center;
  color: black;
  background-color: white;
  width: 100vh;

}
.line-content{
  padding-top: 3%;
  height: 100%;
  background-color: #494c79;
  color: white;
}

body{
    overflow-y: scroll;
}
.square-control{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  height: 100%;
  color: #494c79;
  background-color: white;
}
.number-control{
  color: #494c79;
}
.text-control{
  color: #494c79;
}
.img-ico-menu{
  display: none;
}
}